<!DOCTYPE html>
<html>
<head>
  <title>BikeRepair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One|Arvo|Poiret+One|Lily+Script+One|Oleo+Script|Fugaz+One|Monoton|Lobster+Two|Megrim|Gruppo|Raleway|Roboto|Slabo+27px|Yanone+Kaffeesatz|Oxygen|Wire+One|Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <div class="title"><a href="#">CockRotter</a></div>
  <%= yield(:navbar) %>
  </nav>
  <header>

  </header>

<%= yield %>

</body>
</html>
